.character-modal {
    &__content {

        &__character {

            display: flex;
            justify-content: center;
            gap: 0.5em;
            > img {
                width: 25%;
            }
            margin-bottom: 1em;
        }
        &__voice-actors {
            &__actor {
                display: flex;
                padding: 1em;
                justify-content: space-evenly;
                align-items: center;
                > img {
                    width: 25%;
                }
            }
        }
    }
}